
.editor-page {
  display: flex;
  height: 130vh;
  background-color: #171717;
  overflow: hidden;
}

.sidebar {
  width: 25%;
  background-color: #171717;
  color: white;
  padding: 20px;
  min-width: 250px;
  height: 124vh;
  /* background-color: #29a8d2; */
}

.editor-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

/* .editor-output-wrapper { */
  /* min-width: 100px;
  background-color: #ee0ac1;
  gap: 10px;
  margin: 10px;
  width: auto;
  height: 120vh; */
  /* flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #132e1e; */
/* } */

.editor-section {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 5px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-height: 50vh;
  background: #303030;
  
}

/* 
.editor-panel-wrapper {
  transition: width 0.3s ease-in-out;
  max-height: fit-content;
} */


.editor-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
 
}

.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #222;
  color: white;
  flex: 1; 
  max-width: 300px;
}

.panel-button .icon {
  font-size: 18px;
}


.run {
  background-color: #28a745;
}

.save {
  background-color: #007bff;
}

.clear {
  background-color: #dc3545;
}

.panel-button:hover {
  opacity: 0.75;
}
.query-output-section{
  height: 75vh;
  max-height: 70vh;
  width: auto;
  
}

@media (max-width: 900px) {
  .editor-page {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .sidebar {
    margin: 0;
    width: 95%;
    
  }

  .editor-container {
    width: auto;
  }

  .editor-output-wrapper {
    height:fit-content
  }

  .query-output-section {
    flex: none;
    height: 40vh;
    width: auto;
  }
.editor-section
   {
    flex: none;
    height: 40vh;
    width: auto;
  }



@media (max-width: 700px) {
  .editor-panel {
    flex-wrap: nowrap; 
    gap: 8px;
  }

  .panel-button {
    flex: 1; 
    padding: 8px 12px;
    font-size: 14px;
  }
}


@media (max-width: 500px) {
  .editor-panel {
    margin: 5px;
    flex-wrap: wrap; 
    justify-content: center;
  }

  .panel-button {
    width: 45%;
    font-size: 13px;
  }

  .panel-button .icon {
    font-size: 12px;
  }
}


@media (max-width: 400px) {
  .panel-button {
    width: 30%;
    font-size: 12px;
    padding: 6px;
  }

  .panel-button .icon {
    font-size: 10px;
  }
}
}